body {
  background-image: url("fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 300px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 16px;
}
